<section class="about-us">
    <div class="digital-big-thinkers__container">
        <div class="headline">
            <h2>Digital Big Thinkers</h2>
        </div>
        <div class="content">
            <p>We’re a creative agency with a purpose — we believe that creativity, technology, and digital expertise should be put to use for positive change. Our team combines the impact-oriented mentality of social activism with the innovative spirit of the design and tech worlds to produce engaging, emotional, eye-catching digital experiences that drive action and create change.</p>
        </div>
        <div class="grid-module__container">
            <div class="headline">
                <h3>Grid Module</h3>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices sem in felis volutpat iaculis. Ut molestie semper dolor, eget rutrum.</p>
            </div>
        </div>
    </div>
</section>