<section class="archive-posts container-fluid">
  <div class="grid-module__container col-lg-6 mx-auto my-0">
    <h3 class="headline">Grid Module</h3>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices sem in felis volutpat iaculis. Ut molestie semper dolor, eget rutrum.</p>
    </div>
  </div>
  <div class="posts__container row">
    <div class="more-posts__container">
      <a class="load-more-posts">More Posts</a>
    </div>
  </div>
</section>