<section class="archive-posts container-fluid">
    <div class="posts__container row">
        <div class="more-posts__container">
            <a class="load-more-posts">More Posts</a>
        </div>
    </div>
</section>