<section class="archive-posts container-fluid">
  <div class="grid-module__container col col-12 col-md-8 col-lg-6 mx-auto mt-0">
    <h3 class="headline">Grid Module</h3>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices sem in felis volutpat iaculis. Ut molestie semper dolor, eget rutrum.</p>
    </div>
  </div>
  <div class="posts__container row">
  </div>
  <div class="more-posts__container">
    <h4><a class="load-more-posts" href="https://google.com" target="_blank">More Posts</a></h4>
  </div>
</section>