<section class="digital-big-thinkers">
  <div class="digital-big-thinkers__container container-fluid">
    <div class="digital-big-thinkers__container--inner col col-12 col-md-8 col-lg-6 mx-auto my-0">
      <h2 class="headline">Digital Big Thinkers</h2>
      <div class="content">
        <p>We're a creative agency with a purpose — we believe that creativity, technology, and digital expertise should be put to use for positive change. Our team combines the impact-oriented mentality of social activism with the innovative spirit of the design and tech worlds to produce engaging, emotional, eye-catching digital experiences that drive action and create change.</p>
      </div>
    </div>
  </div>
</section>
