{{!-- <div class="container"> --}}
    <footer class="container-fluid py-3 my-4">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Our Work</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Resources</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Impact</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">News</a></li>
        </ul>
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy Policy</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms & Conditions</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Accessibility Statement</a></li>
        </ul>
        <p class="text-center text-muted">© 2021 Company, Inc</p>
    </footer>
{{!-- </div> --}}