<section class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="hero--content-left col col-lg-5">
                <div class="tagline">
                    <p>Welcome to Wide Eye</p>
                </div>
                <div class="headline">
                    <h1 class="headline">Hi There!</h1>
                </div>
                <div class="content">
                    <p>Wide Eye is a creative agency specializing in design, branding, and digital products for the 21st-century’s changemakers & visionaries. We help people doing the most good, inspire the most people.</p>
                </div>
            </div>
            <div class="hero--content-right col col-lg-7">
                <div class="hero-image">
                    <img src="../img/topper-image.png" alt="image-of-flowers">
                </div>
            </div>
        </div>
    </div>
</section>