<section class="hero">
    <div class="container-fluid">
        <div class="row flex-column flex-md-row">
            <div class="hero--content-left col col-xs-12 col-md-4">
                <h5 class="tagline">Welcome to Wide Eye</h5>
                <h1 class="headline">Hi There!</h1>
                <div class="content-description">
                    <p>Wide Eye is a creative agency specializing in design, branding, and digital products for the 21st-century’s changemakers & visionaries. We help people doing the most good, inspire the most people.</p>
                </div>
            </div>
            <div class="hero--content-right col col-xs-12 col-md-8">
                <div class="hero-image">
                    <img src="../img/topper-image.png" class="img-fluid" alt="image-of-flowers">
                </div>
            </div>
        </div>
    </div>
</section>