<nav class="navbar navbar-expand-lg navigation-menu">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="../img/logo.svg" alt="Wide Eye Logo"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-items-wrapper" aria-controls="menu-items-wrapper" aria-expanded="false" aria-label="Toggle navigation menu">
			<img src="../img/menu-icon.svg" alt="mobile menu icon" width="50px">
		</button>
		<div class="collapse navbar-collapse" id="menu-items-wrapper">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Our Work</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Impact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Resource</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">News</a>
				</li>
			</ul>
            <div class="button__container">
                <button type="button" class="btn btn-primary btn-lg subscribe-button">Subscribe</button>
            </div>
		</div>
	</div>
</nav>