<section class="subscribe-cta container-fluid">
    <div class="subscribe-cta__inner row">
        <div class="left-content col col-lg-4">
            <p>Stay in the loop with Wide Eye</p>
        </div>
        <div class="right-content col col-lg-6">
            <p>Email address</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>
            </div>
            <p class="disclaimer-text">Disclaimer text lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu enim, urna, hac. Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</section>