<section class="subscribe-cta">
    <div class="subscribe-cta__container container-fluid">
        <div class="subscribe-cta__container--inner row">
            <div class="subscribe-cta__left-content col col-12 col-md-6">
                <h1>Stay in the loop with Wide Eye</h1>
            </div>
            <div class="subscribe-cta__right-content col col-12 col-md-6">
                <p class="subheading__email">Email address</p>
                <div class="subscribe__form input-group mb-3">
                    <input type="text" class="subscribe__email-input form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
                    <div class="subscribe__button-container input-group-append">
                        <button class="subscribe__button button__text btn btn-lg btn-primary" type="button">Subscribe</button>
                    </div>
                </div>
                <p class="subheading__disclaimer">Disclaimer text lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu enim, urna, hac. Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</section>
