<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="./main.bundle.css">
</head>
<body>
    {{> partials/hero }}
    {{> partials/about }}
    {{> partials/archive-posts }}
    <section class="">
        <div class="">
            <div>
                <h2>
                    Stay in the loop with Wide Eye!
                </h2>
            </div>
            <div>
                <form>
                    <label for="">
                        Email Address
                    </label>
                    <input type="text" aria-labelledby="Email Address">
                    <button type="submit">Subscribe</button>
                </form>
                <p>Disclaimer text lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu enim, urna, hac. Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </section>

    <script type="text/x-handlebars-template">
        
    </script>
    
    <script src="./main.bundle.js"></script>
</body>
</html>