@use 'vars' as *;
@use 'mixins' as *;
@use 'functions' as *;

body,
html {
  font-size: 16px;
  color: color( default, base );
  font-family: $default-font;
}

h1 {
  @include text( bold, 55px, 116% );

  margin: 0 0 24px 0;
}

h2 {
  @include text( bold, 40px, 125% );

  margin-bottom: 16px;
}

h3 {
  @include text( bold, 32px, 125% );
}

h4 {
  @include text( 800, 22px, 130% );
}

h5 {
  @include text( bold, 10px, 120%, 0.1em, uppercase );
}

p {
  @include text( normal, 17px, 170% );
}

main {
  overflow: hidden;
}

.button {
  &__text,
  &__text-muted {
    color: color( default, base );
  }

  &__text {
    @include text( bold, 15px, 100% );
  }

  &__text-muted {
    @include text( normal, 13px, 135% );
  }
}

.subscribe__button {
  background-color: color( secondary, base );
  border-radius: 8px;
  border: none;

  &:hover,
  &:focus {
    background-color: lighten( color( secondary, base ), 5% );
    color: color( default, base );
  }
}

.container-fluid {
  max-width: 1268px;
  padding-left: 0;
  padding-right: 0;
}
