// Variables can go here.
// @use is preferred

$lightest: #ffffff;
$darkest: #333333;

$default-font: 'Public Sans', sans-serif;

$colors: (
    primary: (
        base: #381C75,
        light: #7218E2,
    ),
    secondary: (
        base: #FF6F76,
        light: #FFCCC4,
    ),
    accent: (
        base: #1C82F8,
    ),
    default: (
        base: #140F21,
        light: #fff,
    )
);